<xml id="toolbox" style="display: none">
    <category name="Hareket" colour="160">
        <block type="pen_down"></block>
        <block type="pen_up"></block>
        <block type="move_steps"></block>
        <block type="turn_right"></block>
        <block type="turn_left"></block>
        <block type="goto_xy"></block>
        <block type="goto_random"></block>
        <block type="set_direction"></block>
        <block type="change_x"></block>
        <block type="change_y"></block>
        <block type="set_x"></block>
        <block type="set_y"></block>
        <block type="bounce_on_edge"></block>
        <block type="get_x"></block>
        <block type="get_y"></block>
    </category>
    <category name="Kontrol" colour="120">
        <block type="when_flag_clicked"></block>
        <block type="when_key_pressed"></block>
        <block type="when_message_received"></block>
        <block type="broadcast"></block>
        <block type="wait_seconds"></block>
        <block type="repeat_times"></block>
        <block type="forever"></block>
        <block type="if"></block>
        <block type="if_else"></block>
        <block type="wait_until"></block>
        <block type="repeat_until"></block>
        <block type="stop"></block>
    </category>
    <category name="Algılama" colour="200">
        <block type="is_pen_down"></block>
        <block type="timer"></block>
        <block type="reset_timer"></block>
        <block type="current_hour"></block>
        <block type="current_minute"></block>
        <block type="current_second"></block>
    </category>
    <category name="Matematik" colour="230">
        <block type="math_number"></block>
        <block type="math_add"></block>
        <block type="math_subtract"></block>
        <block type="math_multiply"></block>
        <block type="math_divide"></block>
        <block type="math_modulo"></block>
        <block type="math_round"></block>
        <block type="math_abs"></block>
        <block type="random_int"></block>
    </category>
    <category name="Mantık" colour="210">
        <block type="comparison_block"></block>
        <block type="logic_and"></block>
        <block type="logic_or"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
    </category>
    <category name="Değişkenler" colour="330" custom="VARIABLE"></category>
    <category name="Listeler" colour="260">
        <block type="lists_create"></block>
        <block type="lists_add"></block>
        <block type="lists_delete"></block>
        <block type="lists_clear"></block>
        <block type="lists_create_with"></block>
    </category>
    <category name="Metin" colour="160">
        <block type="text"></block>
        <block type="text_join"></block>
    </category>
</xml>
