{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6 p-0">
        <div id="blocklyArea">
            <div id="blocklyDiv"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mt-3">
            <div class="card-header">
                Çıktı
            </div>
            <div class="card-body">
                <canvas id="outputCanvas" width="600" height="600"></canvas>
            </div>
        </div>
    </div>
</div>

{% include 'partials/toolbox.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/blockly-config.js' %}"></script>
<script src="{% static 'js/canvas-operations.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}